*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

@font-face {
    font-family: Myfont;
    src: url(./Kajiro\ Bold.ttf);
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}


#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

#workingarea{
    position: relative;
    margin: o auto;
    height: 100vh;
    width: 80%;
    max-width: 1920px;
    /* border: 1px solid red;  */
}


#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;


}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 50px;
}

#nleft img{
    height: 60px;
    color: white;

}

#nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    font-family: "gilroy";
}


#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}


#heroleft{
    min-width: 50%;
    /* background-color: yellow; */
}


#heroleft .elem{

    height: 10vw;
    overflow: hidden;
    position: relative;
}

#heroleft .elem h1:nth-child(1){
    top: 0;
}

#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: Myfont;
    color: white;
    font-weight: 100;
    font-size: 12vw;
}

#heroleft button{
    pointer-events: all;
    padding: 0.8vw 3vw;
    font-size: 3vw;
    font-family: Myfont;
    margin-top: 2vw;

}


#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: white;
    /* background-color: green; */
}


#heroright p{
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    /* margin-bottom: 50px; */
}

#heroright #imagediv{
    width: 100%;
    height: 170px;
    background-image: url(./good-faces-xmSWVeGEnJw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#heroright p:nth-child(3){
    margin-bottom: 100px;
}
